@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --accent-color: #0F95B0;
    --base-color: #E3F9FD;
    --light-grey: #f0f0f0;
    --dark-grey: #555555;
}

body {
    background-color: var(--base-color);
    color: var(--dark-grey);
    font-family: 'Merriweather', serif;
}

.btn-primary {
    background-color: var(--light-grey);
    color: var(--accent-color);
    border: 1.5px solid var(--accent-color);
    font-weight: bold;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #0c7a91; 
    border-color: #0c7a91;
}

.navbar a {
    color: var(--dark-grey);
}

.navbar a:hover {
    color: var(--accent-color);
}


.accordion-body {
    background-color: var(--light-grey);
}


/* Global styles */
.page-wrapper {
    padding-top: 20px;
    text-align: center;
}

/* CSS styles for learn.html */
.learn-camera-container {
    position: relative;
}

.learn-camera-container .camera-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    z-index: 1;
}

.learn-camera-container .red-arrow {
    width: 5%;
    height: 10%;
}

.learn-camera-container #red-arrow-1 {
    position: absolute;
    top: 16%;
    left: 74%;
    transform: translate(-50%, -50%);
}

.learn-camera-container #red-arrow-2 {
    position: absolute;
    top: 42%;
    left: 71%;
    transform: translate(-50%, -50%);
}

.learn-camera-container #camera-shutter-button {
    top: 23%;
    left: 74%;
    height: 5%;
    width: 12%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 2;
}

.learn-camera-container #camera-playback-button {
    top: 52%;
    left: 70%;
    height: 7%;
    width: 5%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 2;
}

.learn-camera-container #camera-screen-default {
    top: 34%;
    left: 15%;
    width: 48%;
    height: 50%;
    z-index: 2;
}

.learn-camera-container #camera-screen {
    top: 34%;
    left: 15%;
    width: 48%;
    height: 50%;
    z-index: 3;
    display: none;
}

.learn-camera-container .camera-screen-img {
    width: 100%;
    height: 100%;
    display: block;
}

.learn-camera-container .camera-screen-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.learn-camera-container .camera-screen-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #fff;
    text-align: center;
    width: 90%;
}